@font-face {
    font-family: 'XalTerion';
    src: url('XalTerion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tribal Dragon';
    src: url('TribalDragon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

#main-grid {
    display: grid;
    grid-template: auto auto / auto auto auto;
    grid-template-areas:
        "gymName gymName gymName"
        "erin michel brian";
    width: 100%;
    height: 30vh;

    margin-top: 100%;
}

#gym-name {
    height: 10vh;

    text-align: center;
    font-family: 'XalTerion', sans-serif;
    grid-area: gymName;
    font-size: 3em;
    letter-spacing: .2em;
    color: white;
    font-weight: 100;
    margin: 20px 0;
    cursor: pointer;
    position: absolute;
    top:1%;
    left: 33%;
}

.dragon {
    font-family: 'Tribal Dragon', sans-serif;
    font-size: 2.2em;
}

#erin-grid {
    grid-area: erin;
    background-image: url(https://external-preview.redd.it/98jgcKpucR-OEo8fdGCHN8B9cyFrjZO4tpIXCnq-gqw.jpg?auto=webp&s=4f78433eab2e39849ac3a258d48a0440b36ff41a);
    
}

#michel-grid {
    grid-area: michel;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/000/164/693/large/ned-rogers-157912-white-dragon-lair-final-web.jpg?1407852798);
}

#brian-grid {
    grid-area: brian;
    background-image: url(https://wallpaperplay.com/walls/full/2/a/f/149356.jpg);
}

.trainer-col {
    height: 100vh;
    border-left: 2px solid  rgba(0, 0, 0, 0.9);
    border-right: 2px solid  rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: 50% 100%;
    
}

.trainer-content:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* width: 100vw; */
}

.trainer-content {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;

    display: grid;
    grid-template: 20% 20% 10% / auto;
    grid-template-areas:
        "name"
        "sprite"
        "type";
    grid-row-gap: 1%;
    justify-items: center;
}

.name {
    grid-area: name;
    font-family: "XalTerion", sans-serif;
    font-size: 1.3em;
    margin: 2% 0 0;
}

.sprite {
    grid-area: sprite;
    height: 100%;
}

.type {
    grid-area: type;
}

#erin-pokemon-party {
    width: 100%;

    display: grid;

    grid-template: auto / auto auto auto;
}

#michel-pokemon-party {
    width: 100%;

    display: grid;

        grid-template: auto / auto auto auto;

}

#brian-pokemon-party {
    width: 100%;

    display: grid;
    
    grid-template: auto / auto auto auto;

}

.erin-pokemon-name,
.michel-pokemon-name, .brian-pokemon-name {
    text-transform: capitalize;
    /* font-family: 'XalTerion', sans-serif; */
    font-weight: 100;
    letter-spacing: .1em;
}